{% extends "base.html" %}
{% block content %}
<div id="min-height" class="container mt-3 text-center" style="height: 60vh;">
    <div class="mt-4 p-5 bg-white text-black">
        <h1>ProjectX.... Management at it's finest!</h1>
        <p>Keep track of your records effectively.</p>
    </div><br>
    <div class="d-grid gap-2 col-3 mx-auto">
        <a href="{% url 'register' %}">
            <button class="btn btn-dark" type="button"> Create your account <i class="fa-solid fa-address-book"></i></button>
        </a>
    </div>
</div>
{% endblock content %}